body {
    font-family: 'Inter', sans-serif;
}

table {
    border-collapse: collapse;
    border: 4px solid rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 0.8rem;
}
thead {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    color: #6B6F7B;

    border: 4px solid rgb(0, 0, 0);
}
th, td {
    border: 4px solid rgb(0, 0, 0);
}
.dots {
    display: flex;
    flex-direction: column;
}
.dot {
    background: #000;
    height: 4px;
    width: 4px;
    border-radius: 50%;
}
.dot:not(:last-child) {
    margin-bottom: 4px;
}
.circles {
    display: flex;
    justify-content: end;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 15px;
    width: 49px;
    height: 49px;

    border-radius: 50%;
    border-width: 2px;
    border-color: #6B6F7B;
    border-style: solid;
    color: #000;
}