* {
    box-sizing: border-box;
}
ul, p {
    margin: 0;
    padding: 0;
    list-style: none;
}
input {
    border-style: none;
}
body {
    box-sizing: border-box;
    display: flex;

    font-family: 'Inter', sans-serif;
    background-color: #f6f9ff;
}
.side__bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111111;
    color: #FFFFFF;
    border-top-right-radius: 50px;
    min-width: 290px;

    padding-top: 60px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 60px;
}
.side__bar--title {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;

    margin-bottom: 66px;
}
.side__menu--transaction,
.side__menu--cards  {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;

    color: #BABEC8;
}
.side__menu--transaction {
    margin-bottom: 53px;
}
.unactive {
    opacity: 0.6;
}
.login__data {
    position: relative;

    font-size: 16px;
    padding-top: 36px;
    border-top: 1px solid #6B6F7B;
}
.ava-wrapper {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid #17E383;
    background-color: #313A4E;
}
.login__list {
    position: absolute;
    top: 40px;
    left: 56px;
}
.login__user--mail {
    font-size: 12px;
}
.aplication__item {
    margin-top: 28px;
}
.container {
    /* outline: 1px solid tomato; */
    margin: 0 auto;
    min-width: 1505px;
    padding-left: 77px;
    padding-right: 77px;
}
.filter__list {
    display: flex;
    margin-bottom: 2px;
    align-items: flex-end
}
.filter__input {
    margin-right: 13px;
    width: 190px;
}
.filter__input {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;

    border-radius: 8px;
    border-width: 1.5px;
    border-color: #E1E1E1;
    border-style: solid;

    width: 157px;
    height: 42px;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #313A4E;
}

.sorting__filter {
    /* align-self flex-end; */
    justify-items: end;
}

.date__filter {
    display: flex;
    border: #17E383 dashed 1px;
    padding-top: 10px;

    position: relative;
}
.date__filter--title {
    position: absolute;

    top: -50%;
    left: 50%;
    transform: translateX(-50%);
}
.switch__btn {
    display: inline-block;
    background-color: #BABEC8;
    background-image: url(./images/download-arrow\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    transform: rotate(0deg);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}
.switch__btn.rotate {
    transform: rotate(-180deg);
}

table {
    border-collapse: collapse;
    /* border-color: #6B6F7B;
    border-width: 2px; */
    border-style: solid;
    border-radius: 30px;
    letter-spacing: 1px;
    font-size: 0.8rem;
    overflow: hidden;

    background-color: #ffffff;

}
thead {

    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    color: #6B6F7B;

    border-bottom: 2px solid #D9D9D9;
}
th, td {
    /* border: 1px solid rgba(249, 175, 175, 0.6); */
    padding-left: 27px;
    padding-right: 27px;
}
th {
    padding-top: 34px;
    padding-bottom: 34px;
}
.doctitle,
.card__type,
.user__name,
.last-trans-date {
    padding-bottom: 7px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: calc(19 / 16);
    vertical-align: bottom;
    
    color: #313A4E;
}
.secondary__data {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: calc(17 /14);
    color: #6B6F7B;
    vertical-align: top;

    padding-top: 7px;
}
.favicon {
    padding-top: 20px;
    padding-bottom: 20px;
}
.icon {
    margin: 0;
    width: 49px;
    height: 49px;
    border-radius: 50%;
}

.check {
    margin: 0;

    width: 20px;
    height: 20px;

    border-color: #E1E1E1;
}
.status {

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    vertical-align: middle;
    
    color: #17E383;
}

.getstatus {
    display: flex;
    align-items: center;
}
.getstatus.yellow>.status__value {
    color: #FF9548;
}
.getstatus.green>.status__value {
    color:#17E383;
}
.getstatus.yellow>.pointer {
    border-color: #FF9548;
}
.getstatus.green>.pointer {
    border-color: #17E383;
}

.pointer {
    border-style: solid;
    border-width: 4px;
    border-radius: 50%;
    border-color: #17E383;

    width: 6px;
    height: 6px;

    margin-right: 8px;
    padding: 4px;
}
.end__data {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 /16);
    letter-spacing: 0.1px;
    
    color: #313A4E;
}
.totalsum {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.1px;

    color: #313A4E;
}

.dots {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dot {
    background-color: #313A4E;
    height: 4px;
    width: 4px;
    border-radius: 50%;
}
.dot:not(:last-child) {
    margin-bottom: 4px;
}
.circles {
    display: flex;
    justify-content: end;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 15px;
    width: 49px;
    height: 49px;

    border-radius: 50%;
    border-width: 1px;
    border-color: #6B6F7B;
    border-style: solid;
    color: #000;
}
.tbl__footer {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid #D9D9D9;
}